In [1]:
import pandas as pd
import json
import csv

In [2]:
#Converting csv to json

#opening the jsonfile and loading it to variable jsondata
with open('2023_JANUARY.json') as json_file:
    jsondata = json.load(json_file)

#taking out the outer dictionary by filtering out only timelineObjects key
User_data=jsondata['timelineObjects']

#creating a csv file to write rows in the csv format
data_file = open('2023_JANUARY.csv', 'w', newline='',)
csv_writer = csv.writer(data_file)

#if count==0 adding the header row else adding every row element
count = 0
for data in User_data:
    if count == 0:
        header = data.keys()
        csv_writer.writerow(header)
        count += 1
    csv_writer.writerow(data.values())

data_file.close()

In [3]:
#checking the important keys from the outer key activity segment
User_data[1]['activitySegment'].keys()

dict_keys(['startLocation', 'endLocation', 'duration', 'distance', 'activityType', 'confidence', 'activities', 'waypointPath', 'simplifiedRawPath'])

In [4]:
#checking the important keys from the outer key placeVisit
User_data[0]['placeVisit'].keys()

dict_keys(['location', 'duration', 'placeConfidence', 'centerLatE7', 'centerLngE7', 'visitConfidence', 'otherCandidateLocations', 'editConfirmationStatus', 'locationConfidence', 'placeVisitType', 'placeVisitImportance'])

In [6]:
#counter variables and empty list to store required variables
c=0
data=[]

#keys user want to take out from the geo-spatial data file
k=['location','duration']

#forming a list for the required variables
for i in range(0,234):
    if(list(User_data[i].keys())[0]=='placeVisit')==True:
        c=c+1
        data.append([User_data[i]['placeVisit'].get(keys) for keys in k])

In [7]:
#identifying keys from within the dictionary key of placeVisit
[User_data[0]['placeVisit'].get(keys) for keys in k]

[{'latitudeE7': 534818449,
  'longitudeE7': -22363949,
  'placeId': 'ChIJF7sSPr-xe0gRNc2jgIsSv2Y',
  'address': '4 Oldham St, Manchester M1 1JQ, UK',
  'name': 'The Crafty Pig, Manchester',
  'sourceInfo': {'deviceTag': 1063353022},
  'locationConfidence': 43.82843,
  'calibratedProbability': 31.709196},
 {'startTimestamp': '2023-01-01T00:16:11.398Z',
  'endTimestamp': '2023-01-01T01:32:40.420Z'}]

In [8]:
#Now, each list has 2 dictionaries with a total of 234 lists within one single outer lists

In [9]:
#make two separate lists l1 & l2
l1=[]
l2=[]
for i in range(0,c):
    l1.append(data[i][0])
    l2.append(data[i][1])

In [32]:
#taking elements of l2 and adding it to l1
for i in range(0,c):
    l1[i].update(l2[i])

In [10]:
l1[0]

{'latitudeE7': 534818449,
 'longitudeE7': -22363949,
 'placeId': 'ChIJF7sSPr-xe0gRNc2jgIsSv2Y',
 'address': '4 Oldham St, Manchester M1 1JQ, UK',
 'name': 'The Crafty Pig, Manchester',
 'sourceInfo': {'deviceTag': 1063353022},
 'locationConfidence': 43.82843,
 'calibratedProbability': 31.709196}

In [11]:
#converting the final dictionary to a pandas dataframe
final_data=pd.DataFrame.from_dict(l1)

In [12]:
final_data[0:5]

,latitudeE7,longitudeE7,placeId,address,name,sourceInfo,locationConfidence,calibratedProbability,semanticType
0,534818449,-22363949,ChIJF7sSPr-xe0gRNc2jgIsSv2Y,"4 Oldham St, Manchester M1 1JQ, UK","The Crafty Pig, Manchester",{'deviceTag': 1063353022},43.828430,31.709196,NaN
1,534805152,-22379620,ChIJ4U9xgr-xe0gREtc8YTkl0HA,"Manchester M1 1AF, UK",Piccadilly Gardens,{'deviceTag': 1063353022},83.153630,76.059456,NaN
2,534570023,-22165686,ChIJvWJir4Cxe0gRIsdNYmZiy-g,"2 Hope Rd, Manchester M14 5ET, UK",iQ Student Accommodation Manchester Gardens,{'deviceTag': 1063353022},49.590263,42.950420,NaN
3,534668498,-22338837,ChIJIaFhiI6xe0gRPPt-xlAzuXw,"Oxford Rd, Manchester M13 9PL, UK",The University of Manchester,{'deviceTag': 1063353022},86.524280,89.111270,NaN
4,534587243,-22269084,ChIJ7Sx5q4mxe0gRD50UIiEMjLE,"Wilmslow Park, Wilmslow Rd, Rusholme, Manchest...",Tesco Express,{'deviceTag': 1063353022},87.909720,68.877370,NaN

In [13]:
a=['sourceInfo','semanticType']
final_data=final_data.drop(a,axis=1)

In [14]:
final_data.head()

,latitudeE7,longitudeE7,placeId,address,name,locationConfidence,calibratedProbability
0,534818449,-22363949,ChIJF7sSPr-xe0gRNc2jgIsSv2Y,"4 Oldham St, Manchester M1 1JQ, UK","The Crafty Pig, Manchester",43.828430,31.709196
1,534805152,-22379620,ChIJ4U9xgr-xe0gREtc8YTkl0HA,"Manchester M1 1AF, UK",Piccadilly Gardens,83.153630,76.059456
2,534570023,-22165686,ChIJvWJir4Cxe0gRIsdNYmZiy-g,"2 Hope Rd, Manchester M14 5ET, UK",iQ Student Accommodation Manchester Gardens,49.590263,42.950420
3,534668498,-22338837,ChIJIaFhiI6xe0gRPPt-xlAzuXw,"Oxford Rd, Manchester M13 9PL, UK",The University of Manchester,86.524280,89.111270
4,534587243,-22269084,ChIJ7Sx5q4mxe0gRD50UIiEMjLE,"Wilmslow Park, Wilmslow Rd, Rusholme, Manchest...",Tesco Express,87.909720,68.877370

In [15]:
#exporting data to csv
final_data.to_csv('January_2023.csv',index=False)